.button{
    -fx-border-radius: 0;
    -fx-padding: 10 20 10 20;
}

.button:hover{
    -fx-cursor: hand;
}

.button-green:hover{
    -fx-background-color: #04785b;
}

.text{
    -fx-font-family: quicksand;
}